@import '../../../styles/breakpoints.scss';

.picturesGrid {
  flex: 1;
  width: 100%;
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;

  @media screen and (min-width: $bp-300) {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $bp-600) {
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $bp-900) {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: $bp-1100) {
    max-width: 1250px;
    grid-template-columns: repeat(5, 1fr);
  }
}
