@import '../../../styles/breakpoints.scss';

.picturesGrid {
  flex: 1;
  width: 100%;
  max-width: 225px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;

  @media screen and (min-width: $bp-500) {
    max-width: 450px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $bp-725) {
    max-width: 675px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $bp-900) {
    max-width: 1000px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: $bp-1100) {
    max-width: 1250px;
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (min-width: $bp-1250) {
    grid-template-columns: repeat(6, 1fr);
  }
}
