@import './../styles/breakpoints.scss';

.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: $bp-725) {
    max-width: 300px;
  }

  &__select {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--back-color);
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 2.5px;
    text-align: center;
    font-size: 1.5rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.6rem;
    }

    @media screen and (min-width: $bp-725) {
      font-size: 1.75rem;
      padding: 0.75rem 0;
    }
  }

  &__clear {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
  }
}
