@import '../styles/breakpoints.scss';

.footer {
  background-color: var(--back-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  &__logo {
    width: 22.5rem;
    height: auto;

    @media screen and (min-width: $bp-500) {
      width: 23.5rem;
    }

    @media screen and (min-width: $bp-725) {
      width: 25rem;
    }
  }
}
