@import '../../../../styles/breakpoints.scss';

.pictureInfo {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-color);

  @media screen and (min-width: $bp-500) {
    font-size: 1.7rem;
  }

  @media screen and (min-width: $bp-700) {
    font-size: 1.75rem;
  }

  &__text {
    transform: translateY(0.25rem);
  }
}
