@import '../styles/breakpoints.scss';

.home {
  display: flex;
  flex-direction: column;
  background-color: var(--back-color);
  gap: 2.5rem;

  &__rows {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
}
