@import '../../../styles/breakpoints.scss';

.rowPictures {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 0 1rem;

  @media screen and (min-width: $bp-500) {
    padding: 0 3rem;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25rem;
  }

  &__heading {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.75rem;
    }

    @media screen and (min-width: $bp-725) {
      font-size: 1.9rem;
    }

    @media screen and (min-width: $bp-1000) {
      font-size: 2.1rem;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media screen and (min-width: $bp-500) {
      font-size: 1.7rem;
    }

    @media screen and (min-width: $bp-725) {
      font-size: 1.8rem;
    }

    @media screen and (min-width: $bp-1000) {
      font-size: 1.9rem;
    }
  }

  &__rowBox {
    width: 100%;
    display: flex;
  }

  &__rowItem {
    border-radius: 2.5px;
    overflow: hidden;
    max-width: 198px;
    width: 100%;
    margin: 0 0.25rem;
  }
}
