:root {
  --primary-color: #f5f5f5;
  --back-color: #111111;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar-track {
  background-color: var(--back-color);
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: var(--back-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.mySwiper {
  width: 100%;
  --swiper-pagination-color: var(--primary-color);
  --swiper-pagination-bullet-inactive-color: var(--primary-color);
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-size: 7.5px;
  --swiper-pagination-bullet-horizontal-gap: 5px;

  div {
    width: 100%;
  }
}

.gap-top {
  margin-top: 10rem !important;
}

.bold {
  font-weight: 600;
}
